.LoginFormcard {
    width: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 0px;
    right: 0px;
    .title {
        text-align: center;
        font-size: 32px;
    }
    .ant-card-body {
        padding: 48px;
        font-size: 16px;
    }
    .ant-form {
        .ant-form-item {
            .ant-input {
              font-size: 18px;
              padding: 10px 14px;
            }
        }
    }

}
@media screen and (max-width : 480px) {
    .LoginFormcard {
       width: 100%;
       top: 0;
       bottom: 0;
       display: flex;
       align-items: center;
   }
}