.SideBar {
    .logo {
        font-size: 21px;
        font-weight: 300;
        line-height: 70px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: rgb(249, 249, 249);
        display: block;
        text-align: center;
        text-decoration: none;
    }
}